@model Domain.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Shop_Layout.cshtml";
    ViewBag.BreadcrumbTitle = " Delete";
    ViewBag.PageTitle = "Product / Delete";
    var method = ViewBag.Method == "Delete";
    var cat = Model;
}
<partial name="~/Views/Shared/_breadcrumb.cshtml" />


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card m-5">
                <div class="card-header">
                    <h5>Are you sure you want to delete this?</h5>
                </div>
                <div class="card-body px-4 py-0">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12 ">
                                <a onclick="handleSubCatLink(this)" href="/categories?categoryId=@cat.CategoryId">
                                    <div class="category-container">
                                        <div class="category-Image">
                                            <img src="@cat.Image.Src" class="category-image"  style="width:90%"/>
                                            <div class="category-title">@cat.Name</div>
                                        </div>
                                        <div class="category-description">@cat.Description.Substring(0, cat.Description.Length < 150 ? cat.Description.Length : 150)</div>
                                      
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form action="/Categories/Delete/@Model.CategoryId" method="post">
                        <input type="hidden" asp-for="CategoryId" />
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



    
   

