
.login-section {
    box-shadow: 0px 0px 2px 0px #808080a8 !important;
    z-index: 10;
    background-color: #ffffff6b;
    border-radius: 16px;
    min-width: 350px;
    max-width: 414px;
    /* height: 515px; */
    margin: 0 auto;
    backdrop-filter: blur(12px);
}

.register-heading {
    text-align: center;
    font-weight: bold;
    color: #eb880e;
}

.btn-register {
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 7px;
    background: -webkit-linear-gradient( 271deg,#FFCE49, #b14c41);
    border: 0px solid #ee9e48;
}

    .btn-register:hover {
        color: #008c18;
    }
