@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Shop_Layout.cshtml";
    ViewBag.IsHomePage = true;
}

<div class="container px-xlg-5 mb-5 mt-5" id="category-page">
    <div class="mb-4 mt-3">
        <ul class="service-icons-info">
            <li class="service-ico">
                <span class="our-pro-text animate__heartBeat">
                    <a href="">
                        <img src="/assets/images/products/wide-range-icon.svg"
                             alt="">&nbsp; WIDE RANGE
                    </a>
                </span>
            </li>
            <li class="service-ico">
                <span class="our-pro-text">
                    <a href="">
                        <img src="/assets/images/products/warranty-icons.svg"
                             alt="">&nbsp; WARRANTY
                    </a>
                </span>
            </li>
            <li class="service-ico">
                <span class="our-pro-text">
                    <a href="./return-policy.html">
                        <img src="/assets/images/products/truck-icon.svg"
                             alt="">&nbsp; DELIVERY & RETURNS
                    </a>
                </span>
            </li>
            <li class="service-ico">
                <span class="our-pro-text">
                    <a href="">
                        <img src="/assets/images/products//emi-icon.svg"
                             alt="">&nbsp; EMI AVAILABLE
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./sofa.html">
                        <img src="/assets/images/category/Category_Sofa2.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-1 pl-5">Sofa</h3>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./recliner.html">
                        <img src="/assets/images/category/Category_Recliner.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-2 pl-5">Recliner</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./dining.html">
                        <img src="/assets/images/category/Category_Dining.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-3 pl-5">Dining Table</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./bed.html">
                        <img src="/assets/images/category/Category_Bed.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-4 pl-5">Bed</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./center.html">
                        <img src="/assets/images/category/Category_CenterTab.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-5 pl-5">Center Table</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./antique-chair.html">
                        <img src="/assets/images/category/AntiqChair.png"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-5 pl-5">Antique Chair</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="cards">
                <div class="img-wrapper">
                    <a href="./relaxing.html">
                        <img src="/assets/images/category/Relaxing1.jpg"
                             class="pro-image"
                             alt="img">
                    </a>
                    <h3 class="our-pro-5 pl-5">Rocking Chair</h3>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- ------------------------ Second Section ------------------------- -->
<div class="container-fluid mb-5">
    <div class="container-fluid px-xlg-5 px-md-5">
        <div class="row">
            <div class="col-md-8 pl-md-0 mb-3">
                <div class="test-shine my-0">

                    <img src="/assets/images//third-sec/featured-img-1.jpg"
                         class="third-main-image-1" alt="">

                </div>
            </div>

            <div class="col-md-4 pl-md-0 mb-3">
                <div class="test-shine-1 my-0">

                    <a href="./SOFA FACTORY BROCHURE.pdf" target="blank">
                        <img src="/assets/images//third-sec/featured-img-2.jpg"
                             class="third-main-image-2" alt="">
                    </a>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-5 px-0">
                <div class="test-shine-2 my-0">

                    <img src="/assets/images//third-sec/featured-img-3.jpg"
                         class="third-main-image-3" alt="">

                </div>

            </div>

            <div class="col-md-7 pl-md-0">
                <div class="test-shine-3 my-0 mb-5">

                    <img src="/assets/images//third-sec/featured-img-4.jpg"
                         class="third-main-image-4" alt="">

                </div>

            </div>

        </div>
    </div>
</div>

<!-- ----------------------------Section Three -------------------------- -->
 <div class="new-sliders owl-carousel owl-theme">
            <div class="item">
                <div class="container-fluid mb-5">
                    <div class="container-fluid px-xlg-5 px-md-5">
                        <div class="row p-3" style="background: #ecebee; border-radius: 12px;">
                            <div class="col-md-6">
                                <div class="featured-pro-text-sec">
                                    <p class="f-p-sub-heading mb-0">SofaFactory</p>
                                    <a href="#"><h2 class="f-p-main-heading">Sofa Cum Bed</h2></a>
                                    <div>
                                        <a href="./bed.html"><button type="button" class="btn btn-dark
                                            view-now-btn">Buy Now</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-4">
                                <div>
                                    <img src="/assets/images/offfers/banner-1.png" class="f-banner" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>

            <div class="item">
                <div class="container-fluid mb-5">
                    <div class="container-fluid px-xlg-5 px-md-5">
                        <div class="row p-3" style="background: #ecebee; border-radius: 12px;">
                            <div class="col-md-6">
                                <div class="featured-pro-text-sec">
                                    <p class="f-p-sub-heading mb-0">SofaFactory</p>
                                    <a href="#"><h2 class="f-p-main-heading">Luxury Sofa</h2></a>
                                    <div>
                                        <a href="./sofa.html"><button type="button" class="btn btn-dark
                                            view-now-btn">Buy Now</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-4">
                                <div>
                                    <img src="/assets/images/offfers/banner-2.png" class="f-banner" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            </div>

            <div class="item">
                <div class="container-fluid mb-5">
                    <div class="container-fluid px-xlg-5 px-md-5">
                        <div class="row p-3" style="background: #ecebee; border-radius: 12px;">
                            <div class="col-md-6">
                                <div class="featured-pro-text-sec">
                                    <p class="f-p-sub-heading mb-0">SofaFactory</p>
                                    <a href="#"><h2 class="f-p-main-heading">Dining Table</h2></a>
                                    <div>
                                        <a href="./dining.html"><button type="button" class="btn btn-dark
                                            view-now-btn">Buy Now</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-4">
                                <div>
                                    <img src="/assets/images/offfers/banner-3.png" class="f-banner" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            </div>

            <div class="item">
                <div class="container-fluid mb-5">
                    <div class="container-fluid px-xlg-5 px-md-5">
                        <div class="row p-3" style="background: #ecebee; border-radius: 12px;">
                            <div class="col-md-6">
                                <div class="featured-pro-text-sec">
                                    <p class="f-p-sub-heading mb-0">SofaFactory</p>
                                    <a href="#"><h2 class="f-p-main-heading">Corner Sofa</h2></a>
                                    <div>
                                        <a href="./sofa.html"><button type="button" class="btn btn-dark
                                            view-now-btn">Buy Now</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-4">
                                <div>
                                    <img src="/assets/images/offfers/banner-4.png" class="f-banner" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            </div>

        </div>
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- =========================Service======================================================== -->
        <div class="container-fluid mb-5">
            <div class="container-fluid px-xlg-5 px-5">
                <div class="row service-board">
                    <div class="col-md-3" style="border-right: 1px solid #eaeaea;">
                        <div class="factory-service-sec">
                            <a href="#"><img src="/assets/images/Services/customer-service.png" class="services-img" alt=""></a>
                            <a class="service-head" href="#"><p class="ser-sub-head mb-0"><strong>70,000+</strong></p></a>
                            <p>Happy Customer</p>
                            <!-- <P class="service-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Nesciunt.</P> -->
                        </div>
                    </div>

                    <div class="col-md-3" style="border-right: 1px solid #eaeaea;">
                        <div class="factory-service-sec">
                            <a href="#"><img src="/assets/images/Services/fast.png" class="services-img" alt=""></a>
                            <a class="service-head" href="#"><p class="ser-sub-head mb-0"><strong>50+ Delivery City</strong></p></a>
                            <p>In india</p>
                            <!-- <P class="service-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Nesciunt.</P> -->
                        </div>
                    </div>

                    <div class="col-md-3" style="border-right: 1px solid #eaeaea;">
                        <div class="factory-service-sec">
                            <a href="#"><img src="/assets/images/Services/creativity.png" class="services-img" alt=""></a>
                            <a class="service-head" href="./best-support.html"><p class="ser-sub-head mb-0"><strong>100%</strong></p></a>
                            <p>Customization</p>
                            <!-- <P class="service-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Nesciunt.</P> -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="factory-service-sec">
                            <a href="#"><img src="/assets/images/Services/furnitures.png" class="services-img" alt=""></a>
                            <a class="service-head" href="#"><p class="ser-sub-head mb-0"><strong>120+ Products & Design</strong></p></a>
                            <p>Wide Range Available</p>
                            <!-- <P class="service-text"></P> -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- ===============================happy customer========================================== -->

        <!-- <section class="testimonial_section">
            <div class="container-fluid px-xlg-5 px-5">
                <div class="row">
                    <div class="col-lg-7">
                       <div class="about_content">
                            <div class="background_layer"></div>
                            <div class="layer_content">
                                <div class="section_title">
                                    <h5>CLIENTS</h5>
                                    <h2>Happy<strong>Customers</strong></h2>
                                    <div class="heading_line"><span></span></div>
                                    <p>Recommend <q>Sofa Factory</q> to anyone looking for high-quality, stylish furniture and outstanding customer service. Thank you for a wonderful shopping experience!"</p>
                                </div>
                                <a href="./contact.html">Contact Us<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="testimonial_box">
                            <div class="testimonial_container">
                                <div class="background_layer"></div>
                                <div class="layer_content">
                                    <div class="testimonial_owlCarousel owl-carousel">
                                        <div class="testimonials"> 
                                            <div class="testimonial_content">
                                                <div class="testimonial_caption">
                                                    <h6>Mr. Sayyed Irfan</h6>
                                                    <div class="checkout-rating  py-2">

                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa-solid fa-star-half-stroke haif-unchecked"></span>

                                                    </div>
                                                    <h4>Experience is really good</h4>
                                                </div>
                                                <p class="h-customer-text"><q>Awesome build quality and product .I have been using this Sofa from past 25 days and experience is really good</q></p>
                                            </div>
                                            <div class="images_box">
                                                <div class="testimonial_img">
                                                    <img class="img-center" src="/assets/images/sofa-detail/person-avatar.png" alt="images not found">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="testimonials"> 
                                            <div class="testimonial_content">
                                                <div class="testimonial_caption">
                                                    <h6>Mr. Sayyed Irfan</h6>
                                                    <div class="checkout-rating  py-2">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa-solid fa-star-half-stroke haif-unchecked"></span>
                                                    </div>
                                                    <h4>Experience is really good</h4>
                                                </div>
                                                <p class="h-customer-text"><q>Awesome build quality and product .I have been using this Sofa from past 25 days and experience is really good</q></p>
                                            </div>
                                            <div class="images_box">
                                                <div class="testimonial_img">
                                                    <img class="img-center" src="/assets/images/sofa-detail/person-avatar.png" alt="images not found">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="testimonials"> 
                                            <div class="testimonial_content">
                                                <div class="testimonial_caption">
                                                    <h6>Mr. Sayyed Irfan</h6>
                                                    <div class="checkout-rating  py-2">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa-solid fa-star-half-stroke haif-unchecked"></span>
                                                    </div>
                                                    <h4>Experience is really good</h4>
                                                </div>
                                                <p class="h-customer-text"><q>Awesome build quality and product .I have been using this Sofa from past 25 days and experience is really good</q></p>
                                            </div>
                                            <div class="images_box">
                                                <div class="testimonial_img">
                                                    <img class="img-center" src="/assets/images/sofa-detail/person-avatar.png" alt="images not found">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <hr>
        <!-- ----------------------new arrival--------------------------------------------------------------------->
        <!-- <div class="container-fluid px-5">
            <div class="container-fluid px-xlg-5">
                <div class="row">
                    <div class="col-md-7 pl-0">

                       <div class="new-arrival-sec-1">
                        <img src="/assets/images/New-Arrival/new-arrival-1.webp" class="new-arrive-img-1" alt="new-arrival">
                       </div>

                    </div>

                    <div class="col-md-5 pr-0">

                        <div class="new-arrival-sec-2">
                            <img src="/assets/images/New-Arrival/new-arrival-2.jpg" class="new-arrive-img-2" alt="new-arrival">
                           </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-5 pl-0">

                       <div class="new-arrival-sec-1">
                        <img src="/assets/images/New-Arrival/new-arrival-3.jpg" class="new-arrive-img-3" alt="new-arrival">
                       </div>

                    </div>

                    <div class="col-md-7 pr-0">

                        <div class="new-arrival-sec-2">
                            <img src="/assets/images/New-Arrival/new-arrival-4.webp" class="new-arrive-img-4" alt="new-arrival">
                           </div>
                    </div>

                </div>


            </div>
        </div> -->

        <!-- -------------------------------new arrival---------------------------------------------------------- -->
        <div class="container-fluid">
            <div class="container-fluid px-xlg-5 px-md-5">
                <div class="row">
                    <div class="col-md-7 pl-md-0 mb-3">
                        <div class="test my-0">
                            <a href="#" target="_blank">
                                <img src="/assets/images/New-Arrival/new-arrival-11.jpg"
                                    class="new-arrive-image-1" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5 pl-md-0 mb-0 mb-md-3">
                        <div class="test my-0">
                            <a href="#" target="_blank">
                                <img src="/assets/images/New-Arrival/new-arrival-2.jpg"
                                    class="new-arrive-image-2" alt="">
                            </a>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-5 px-0">
                        <div class="test my-0">
                            <a href="#" target="_blank">
                                <img src="/assets/images/New-Arrival/test-3.webp"
                                    class="new-arrive-image-3" alt="">
                            </a>
                        </div>

                    </div>

                    <div class="col-md-7 pl-md-0 px-0">
                        <div class="test my-0 mb-0 mb-md-5">
                            <a href="#" target="_blank">
                                <img src="/assets/images/New-Arrival/test-4.webp"
                                    class="new-arrive-image-4" alt="">
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    @section Scripts{


        <script src="/assets/js/main.js"></script>
    <!-- click to top -->
    <script>
        var btn = $('#click-to-up');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
    <!-- onscroll color change -->
    <!-- header-toggle -->
    <script>


        $(document).mouseenter(function (event) {
            if (
                $('.toggle > input').is(':checked') &&
                !$(event.target).parents('.toggle').is('.toggle')
            ) {
                $('.toggle > input').prop('checked', false);
            }
        })
    </script>
    <!-- Our-Products slider -->
    <script>
        $('.product-detail-sliders').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
    <!--drop down on hover -->
    <script>
        $(document).ready(function () {
          
        });
    </script>
    <!-- search toggle -->
    <script>
        $('#show-search-box').click(function () {
            $("#hidden-search-box").toggle();
        });
    </script>
    <!-- featured-slider -->
    <script>
    $(document).ready(function(){
            $('.new-sliders').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
    })
    </script>
    }