

<div class="breadcrumb-1 flex-column mb-0 pb-0 bg-light-gray" style="background-image: url(/assets/images/breadcrumb/sofa-breadcrumb.jpg);">
    <div class="breadcrumb-heading-1">
        <h2 class="text-center bred-crumb-head">@ViewBag.BreadcrumbTitle</h2>
    </div>
    <div class="breadcrumb-toggle">
        <p class="text-center bred-crumb-head mb-4">
            <a class="bred-crumb-text" href="/">Home</a> &nbsp;<span class="text-white">/</span>
            <a class="bred-crumb-text" href="#">@ViewBag.PageTitle</a>
        </p>
    </div>
</div>

