
<hr />
<footer id="footer">
    <div class="container px-md-0">
        <div class="row">
            <div class="col-md-3">
                <a href="/index.html">
                    <img src="./assets/images/logo/SF_LogoPNG2.png" alt=""
                         class="img-fluid logo-footer">
                </a>
                <div class="footer-about">
                    <p><strong>SOFA FACTORY THE COMPLETE LIVING SOLUTIONS PVT LTD</strong> ss the professional Furniture Manufacturer and trading company. Under the provisions of the companies Act, 1956 and also Registered  under the government of India scheme “Startup India” Having its Registered office at SOFA FACTORY, crystal pride complex, Beed By Pass Road, Aurangabad. Maharashtra India.</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>

                    <div class="use-links">
                        <li>
                            <a href="/">
                                <i class="fa-solid
                                        fa-angles-right"></i> Home
                            </a>
                        </li>
                        <li>
                            <a href="/about.html">
                                <i class="fa-solid
                                        fa-angles-right"></i> About Us
                            </a>
                        </li>
                        <!-- <li><a href="#"><i class="fa-solid
                                    fa-angles-right"></i> All Products</a></li> -->

                        <li class="dropdown">
                            <i class="fa-solid
                                        fa-angles-right"></i>
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                All
                                Products <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="ml-3"><a href="/Products/category/Sofa">Sofa</a></li>
                                <li class="ml-3"><a href="/Products/category/Reclinear">Recliner</a></li>
                                <li class="ml-3"><a href="/Products/category/Dining%20Table">Dining Table</a></li>
                                <li class="ml-3"><a href="/Products/category/Bed">Modern Bed</a></li>
                                <li class="ml-3"><a href="/Products/category/Center%20Table">Center Table</a></li>
                                <li class="ml-3"><a href="/Products/category/Antique%20Chair">Antique Chair</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="/#category-page">
                                <i class="fa-solid
                                        fa-angles-right"></i> Our Category
                            </a>
                        </li>
                        <li>
                            <a href="/contact.html">
                                <i class="fa-solid
                                        fa-angles-right"></i> Contact
                            </a>
                        </li>
                        <li>
                            <a href="/store.html">
                                <i class="fa-solid
                                        fa-angles-right"></i> Store
                            </a>
                        </li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>

                    <div class="social-icons">
                        <li>
                            <a href="https://www.facebook.com/sofafactoryfurniture?mibextid=YMEMSu" target="blank">
                                <i class="fa-brands fa-facebook-f"></i>
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/sofafactoryfurniture/" target="blank">
                                <i class="fa-brands fa-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@@sofafactoryaurangabad8669" target="blank">
                                <i class="fa-brands fa-youtube"></i>
                                Youtube
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                                twitter
                            </a>
                        </li>

                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>

                    <div class="address-links">
                        <li class="address1">
                            <i class="fa-solid
                                    fa-location-dot"></i> Crystal Pride Complex,
                            Near MIT College, Beside, Beed Bypass, Aurangabad
                            Maharashtra, India
                            431010
                        </li>
                        <li class="mb-2">
                            <a href="tel:9371215555">
                                <i class="fa-solid fa-phone"></i>
                                (+91) 093712 15555
                            </a>
                        </li>
                        <li>
                            <a href="mailto: admin@@sofafactory.co.in">
                                <i class="fa-solid fa-envelope"></i>
                                admin@sofafactory.co.in
                            </a>
                        </li>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>